<div class="row">
  <div class="col-md-8">
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> {{user.username}}
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
      </header>

      <main class="msger-chat">
        <div class="msg left-msg" *ngFor="let msg of messages;let index=index">
          <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">{{msg.senderName}}</div>
              <div class="msg-info-time">{{msg.time | date:'hh:mm a'}}</div>
            </div>

            <div class="msg-text">
              {{msg.text}}
            </div>
          </div>
        </div>

        <div class="msg right-msg">
          <!-- <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">Sajad</div>
              <div class="msg-info-time">12:46</div>
            </div>

            <div class="msg-text">
              You can change your name in JS section!
            </div>
          </div> -->
        </div>
      </main>

      <form #form="ngForm" (ngSubmit)="sendMsg()" class="msger-inputarea">
        <input type="text" (focus)="focusedIn(true)" (focusedout)="focusedIn(false)" class="msger-input" name="msg"
          placeholder="Enter your message..." [(ngModel)]="msgBody.text">
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section>

  </div>

  <div class="col-md-4">
    <b><u>Users</u></b>
    <ol>
      <li *ngFor="let user of users">
        <button class="btn btn-default" (click)="selectUser(user)">{{user.name}}</button>

      </li>
    </ol>
  </div>
</div>
