<div class="container">
  <h2>Login</h2>
  <p>Please login here</p>
  <form #loginForm="ngForm" class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" placeholder="Username" name="username">
    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" name="password">
    <button class="btn btn-primary">Login</button>

  </form>
  <p>Don't have an account?</p>
  <p>click<a href="#"> here</a> to register</p>
</div>
