<h2>Forgot Password</h2>
<p>Please enter your registered email to reset password</p>
<form #form="ngForm" class="form-group">
  <label for="email">Email</label>
  <input class="form-control" type="text" name="email" id="email" placeholder="Email" [(ngModel)]="user.email" required
    email>
  <br>
  <button [disabled]="form.invalid" (click)="submit()" *ngIf="!submitting" class="btn btn-primary">Submit</button>
  <button disabled *ngIf="submitting" class="btn btn-info">Submitting...</button>
  <p>back to
    <a routerLink="/auth/login"> login</a>
  </p>
</form>
